# swagger.model.FilecommitCommitVerification

## Load the model package
```dart
import 'package:swagger/api.dart';
```

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**verified** | **bool** |  | [optional] [default to null]
**reason** | **String** |  | [optional] [default to null]
**signature** | **String** |  | [optional] [default to null]
**payload** | **String** |  | [optional] [default to null]

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)

